extends layout.pug

block content
  h4 Logged in user details
  input(type='hidden', id='hidden-user-object', value=JSON.stringify(user))
  div(id='logged-in-user')
	
  br
  a(href='/logout') Logout

